/*Schrijf hier jouw CSS*/

.opdracht-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opdracht-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.opdracht-2 li {
    flex-basis: calc(100%/3);
}

.opdracht-3 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#i3-1 {
    align-self: start;
}

#i3-2 {
    align-self: center;
}

#i3-3 {
    align-self: end;
}

.opdracht-4 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.opdracht-5 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.opdracht-5 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ul1 {
    align-items: start;
}

.ul2 {
    align-items: center;
}

.ul3 {
    align-items: end;
}
