/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-grow: 1;
}

div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
}

header, aside, footer, nav {
    flex-grow: 0;
    flex-shrink: 0;
}

header, footer {
    flex-basis: 150px;
}

aside, nav {
    flex-basis: 250px;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

